.background
{
	display: block;
	position: relative;
	margin-left: 10%;
	width: 80%;
	height: 100%;
	background-image: url('../images/background.jpg');
	background-repeat:no-repeat;
}

.Login
{
	background-color:#FFAC55;
	margin:0 auto;
	width:300px;
	height:200px;
	position:relative;
}

.createAccount
{
	background-color:#FFAC55;
	margin:0 auto;
	width:300px;
	height:300px;
	position:relative;
}

.sendButton
{
	padding-top: 30px;
}

.page
{
	position:relative;
	top:20px;
	text-align: center;
}

