input[type="button"]
{
	background-color: antiquewhite;
    font-family: Microsoft JhengHei;
    font-size: 140%;
    border-radius: 12%;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
input[type="button"]:hover
{
	background-color: yellow;
}
input[type="button"]:active 
{
  box-shadow: 0 3px gray;
  transform: translateY(20%);
}
.titleBar
{
	background-color: orange;
	width: 100%;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

@media(max-width: 767px) {
	.signInSignUp {
		text-align: center !important;
	}
}
.centerTitle
{
	text-align: center;
	font-size: 300%;
	font-family: Microsoft JhengHei;
	padding-top: 50px;
}
.news
{
	height: 250px;
	width: 100%;
	background-color: white;
}
.moreButton
{
	text-align: right;
	padding-top: 90%;
}
.secondaryTitle
{
	text-align: center;
	font-size: 250%;
	font-family: Microsoft JhengHei;
	padding-top: 40px;
}
.entranceImage
{
	height: 120px;
	width: 120px;
	position: relative;
	left: 25%;
	top: 25%;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.entranceImage:hover
{
	cursor: pointer;
	background-color: lightgray;
}
.entranceImage img
{
	height: 100%;
	width: 100%;
}
.signInSignUp
{
	text-align: right;
	padding-top: 10px;
}
.nav>li>a 
{
	display: block !important;
	color: white !important;
	text-align: center;
	padding: 14px 16px !important;
	text-decoration: none !important;
}

.nav>li {
	display: inline-block;
	padding: 0% 7.3%;
}

@media(max-width: 1660px){
	.nav>li {
		padding: 0% 5.8%;
	}
}

@media(max-width: 1061px){
	.nav>li {
		padding: 0% 4.35%;
	}
}



.nav>li>a:hover 
{
	background-color: white !important;
	color: black !important;
	text-decoration: none !important;
}

.nav>li>a:active 
{
	background-color: white !important;
	color: black !important;
	text-decoration: none !important;
}

.navbar-nav {
	float: none !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.content 
{
	display: block;
	position: relative;
	margin-left: 10%;
	width: 80%;
	height: 100%;
	background-color: lightgray;
}