.titleBar
{
	background-color: orange;
	width: 101.25%;
}
.centerTitle
{
	text-align: center;
	font-size: 300%;
	font-family: Microsoft JhengHei;
	padding-top: 50px;
}
.signInSignUp
{
	text-align: right;
	padding-top: 10px;
}
.news
{
	height: 250px;
	width: 100%;
	background-color: white;
}
.moreButton
{
	text-align: right;
	padding-top: 90%;
}
.secondaryTitle
{
	text-align: center;
	font-size: 250%;
	font-family: Microsoft JhengHei;
	padding-top: 40px;
}
.entranceImage
{
	height: 120px;
	width: 120px;
	position: relative;
	left: 25%;
	top: 25%;
}
.entranceImage img
{
	height: 100%;
	width: 100%;
}
.menu ul
{
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
.signInSignUp li 
{
	float: right;
}
.signInSignUp a 
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.signInSignUp a:hover 
{
	background-color: white;
	color: black;
	text-decoration: none;
}

.signInSignUp a:active 
{
	background-color: white;
	color: black;
	text-decoration: none;
}

.content 
{
	display: block;
	position: relative;
	margin-left: 10%;
	width: 80%;
	height: 100%;
	background-color: lightgray;
}